#cellar {
    background-color:#eee;
    display:inline-block;
    font-size:30px;
    width:900px;
    height:900px;
}
.todo, .alarm, .due, .repeat, #cellarName {
    position : relative;
    margin : 10px 10px 40px 50px;
    width : 600px;
    height : 100px;
    background-color:white;
    display:inline-block;
    text-align: center left ;
}
#cellar img {
    position:relative;
    height:30px;
    width:30px;
    display : inline-block;
}