@font-face {
    font-family:NanumGothic;
    src:url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css")format("css");
}
ul {
    -webkit-padding-start: 0px;    
}
#list { 
    list-style:none;
}
.detail {
    display:inline-block;
}
#info li{ 
    display:inline-block;
    list-style-type: disc;
    margin-left:10px;
}
