@font-face {
    font-family:NanumGothic;
    src:url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css")format("css");
}
ul {
    -webkit-padding-start: 0px;    
}
#tasklist {
    display:inline-block;
    height: 1000px;
    width : 1000px;
}
#header {
    display:inline-block;
    padding:20px;
    font-size : 40px;
    color : white;    
}
#header div {
    display:inline-block;
}
#gname {
    padding:0 500px 0 100px;
} 
#tlist {
    position : relative;
    display:inline-block;
    list-style:none;
    margin : 0px;
    height : 900px;
}
#tlist .tasks {
    border-bottom:solid gray 1px;
    width:500px;
}
.tasks .name {
    font-size:30px;
}
.detail {
    display:inline-block;
}
#info li{ 
    display:inline-block;
    list-style-type: disc;
    margin-left:10px;
}
